@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');



body 
{
 
  height: 700px;
  width: 800px;
  display:flex;
  font-family:'Times New Roman', Times, serif;
  justify-content: left;
  align-items: center;
  background-image: url('Calculator (Website).png');
  background-size: auto;
  
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-left: 225px;
  
}
  

.button
{
  width: 70px;
  padding: 25px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row
{
  margin: 10px ;
}

.row input
{
  width: 310px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}


.text-center
{
  text-align:80px;
}

button:hover 
{
  background-color: #f379c4;
}